<form action="/auth/login" method="post" class="login-form">
    <div class="form-item">        
        <input type="email" name="email" id="email" placeholder="Email">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>